{% extends "ticket/index.html" %}
{% load paginator %}
{% block title %}Eventos{% endblock %}
{% block content %}
<table>
    {% for event in object_list %}
    <tr>
        <td>
            {% if event.image %}{{ event.image.extra_thumbnails_tag.small }}{% endif %}
            <p><a href='{{ event.get_absolute_url }}'>{{event.artist }}, {{ event.name }}</a></p>
            <p>{{ event.description }}</p>
        </td>
        <td><a class='button' href='{{ event.get_absolute_url }}'>Comprar</a></td>
    </tr>
{% endfor %}
</table>
{% if is_paginated %}{% paginator %}{% endif %}
{% endblock %}

