{% extends "ticket/index.html" %}
{% block title %}Evento {{ event.name }}{% endblock %}
{% block topmenu %}
<h3>{{event.artist }}, {{ event.name }}</h3>
<table>
    <tr>
        <td><img src='{{ event.image.extra_thumbnails.small }}'/></td>
        <td>
            <strong>Lugar:</strong> {{ event.auditorium }}<br />
            <strong>Fechas:</strong> del {{ event.start_date }} al {{ event.end_date }}<br />
            <p>{{ event.description }}</p>
        </td>
        {% with event.auditorium.image as auditorium_image %}
        {% if auditorium_image %}
            <td><img src='{{ event.auditorium.image.extra_thumbnails.small }}'/></td>
        {% endif %}
        {% endwith %}
    </tr>
</table>
{% endblock %}
{% block content %}
{% with event.presentation_set.all as presentations %}
{% if presentations %}
<table class='eventdetail' border='2'>
    <tr>
        <td>Listado de Posiciones</td>
        <td>Mapa de ubicaciones</td>
    </tr>
    <tr>
        <td>
            <form method='post' action='.'>
                {{ form.as_p}}
                <p><input type="submit" value="Comprar"></p>
            </form>
        </td>
        <td>
            <img src='{{ MEDIA_URL }}default-auditorium.gif' />
        </td>
    </tr>


</table>
{% else %}
<p>No hay presentacion programadas todavia</p>
{% endif %}
{% endwith %}
{% endblock %}
