{% extends "ticket/index.html" %}
{% block title %}Evento {{ event.name }}{% endblock %}
{% block topmenu %}
<h2>{{event.artist }}, {{ event.name }}</h2>
<img src='{{ event.image.extra_thumbnails.small }}'/>
{{ event.description }}
{% endblock %}
{% block content %}
<p>Auditorio: {{ event.auditorium }}</p>
{% with event.presentation_set.all as presentations %}
{% if presentations %}
<p>Fechas de Presentacion</p>
<table>
    <tr>
        <th>Fecha de Presentacion</th>
        <th>Hora de Inicio</th>
        <th>Hora de Termino</th>
        <th></th>
    </tr>
    {% for presentation in presentations %}
    <tr>
        <td>{{ presentation.day }}</td>
        <td>{{ presentation.start_hour }}</td>
        <td>{{ presentation.end_hour }}</td>
        <td><a class='button' href='#'>Comprar</a><td>
    </tr>
    {% endfor %}
</table>
{% endwith %}
{% endblock %}
