{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MaccTicket</title>
<link rel="stylesheet" href="main.css">
</head>

<body>
<div id="header">
{%block navbar %}
{% include "ticket/_top_nav.html" %}
{% endblock navbar %}
</div>
<div id="content">
	<p></p>
    <img src="top-bg-gris.png" class="tableGraytop" align="middle" alt="" />
  	<div id="tableGray">    	
        
        <div id="tableEventosResumen">
        {% load events_top %}
        {% block topmenu %}
        {% image_cycle_show %}
        {% endblock %}        
        </div>
        
      <div id="tableEventosListado">
        {% block leftcontent %}{% endblock %}
      </div>
        
       <div id="tableEventosMapa">
        {% block rightcontent %}{% endblock %}
       </div>
    </div>
    <img src="bottom-bg-gris.png" class="tableGraybottom" align="top" alt="" />
    <p></p>
</div>
<div id="footer"></div>
</body>
</html>
{% endspaceless %}
