<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="Dave Shea" />
	<meta name="keywords" content="design, css, cascading, style, sheets, xhtml, graphic design, w3c, web standards, visual, display" />
	<meta name="description" content="A demonstration of what can be accomplished visually through CSS-based design." />
    <meta name="robots" content="all" />
    <title>{% block title %}{% endblock %}</title>
	<!-- to correct the unsightly Flash of Unstyled Content. http://www.bluerobot.com/web/css/fouc.asp -->
	<script type="text/javascript"></script>
	
	<style type="text/css" media="all">
		@import "/static/sample.css";
	</style>
	
</head>

<!--


	This xhtml document is marked up to provide the designer with the maximum possible flexibility.
	There are more classes and extraneous tags than needed, and in a real world situation, it's more
	likely that it would be much leaner.
	
	However, I think we can all agree that even given that, we're still better off than if this had been
	built with tables.


-->

<body onload="window.defaultStatus='css Zen Garden: The Beauty in CSS Design';" id="css-zen-garden">

<div id="container">

	<div id="supportingText">
    
    	<img src="/static/top-bg-gris.png" class="tableGraytop" align="middle" alt="" />
		<div id="tableGray">
			<!-- contenido interno -->
            	<div id="linkList">
                    <img src="/static/tit-menu.png" alt="" />
		    <div id="tableMenu">
                        {% block sidebar %}
                            {% include "ticket/_category_sidebar.html" %}
			{% endblock %}
                    </div>
                    <div id="tableTop5">
                        {% block topmenu %}{% endblock %}
                    </div>
                    <img src="/static/separador.png" class="separador" />
                    <div id="tableNovedades">
                        {% block content %}{% endblock %}
                    </div>
               </div>
            <!-- contenido interno -->
		</div>
		<img src="/static/bottom-bg-gris.png" class="tableGraybottom" align="top" alt="" />

		<br />

		<div id="footer">
			<a href="http://validator.w3.org/check/referer" title="Check the validity of this site&#8217;s XHTML">xhtml</a> &nbsp; 
			<a href="http://jigsaw.w3.org/css-validator/check/referer" title="Check the validity of this site&#8217;s CSS">css</a> &nbsp; 
			<a href="http://creativecommons.org/licenses/by-nc-sa/1.0/" title="View details of the license of this site, courtesy of Creative Commons.">cc</a> &nbsp;
			<a href="http://mezzoblue.com/zengarden/faq/#s508" title="Read about the accessibility of this site">508</a> &nbsp;
			<a href="http://www.mezzoblue.com/zengarden/faq/#aaa" title="Read about the accessibility of this site">aaa</a>
		</div>

	</div>

</div>

</body>
</html>
